body {
    background-color: rgba(0, 0, 0, 0.7);
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    color:white;
    font-family:Montserrat;
    font-size: 18px;
    margin-right:100px;
    margin-left: 100px;
  }
    h1 {
      font-family:Lucida Handwriting;
      font-size:60px;
      text-align:left;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      display: inline-block;
      align-items: right;
    }
  
    li a {
      color: hsl(0, 10%, 4%);
      font-size:28px;
      text-align: center;
      padding: 20px;
      text-decoration: none;
      font-family: Lucida Handwriting;
    }
  
    li a:hover {
      opacity: 1;
    }
  
    li a:hover {
      
      color: #0c0a0a;
    }
  
    a {
      text-decoration: none;
      color: #090707;
    }
  
  .container *{
    display: inline-block;
  }
  
  h2 {
    padding: 25px;
  }
  /* .logo {
    margin: 10px;
  }
  
  .logo a {
    font-family: "Courier New";
    font-size: 40px;
    color: #1a1313;
    text-decoration: none;
    margin: 20px;
  }
  
  .logo a:hover {
    color: #013e04;
  } */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color:white;
    
  }
  
  .logo a i {
    margin-right: 0.5rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
    padding-left: 650px;
    font-size: 20px;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    color: #000;
  }
  .footer {
    width: 100%;
    height: auto;
    background-color: #222;
    color: #888;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  footer ul a:visited {
    color: #888;
  }
  .dropbtn {
    background-color: #888;
    color: white;
    /* padding: 16px; */
    font-size:8px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #888;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px 2px;
    font-size:20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:#888}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:#888;
  }
  